# Explore here

In [1]:
import pandas as pd

peliculas = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
creditos = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

In [2]:
import sqlite3

conn = sqlite3.connect("../data/peliculas_db.db")
peliculas.to_sql("peliculas", conn, if_exists="replace", index=False)
creditos.to_sql("creditos", conn, if_exists="replace", index=False)

4803

In [3]:
peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
query = """
SELECT *
FROM peliculas
INNER JOIN creditos
ON peliculas.title = creditos.title;
"""

df = pd.read_sql_query(query,conn)
conn.close()
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  title                 4809 non-null   object
 22  cast                  4809 non-null   object
 23  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 901.8+ KB

In [5]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'title', 'cast', 'crew'],
      dtype='object')

In [6]:
borrar= "title"
df = df.drop(borrar,axis=1)

In [7]:
import json
def cargar_json(json_str, default = None):
    try:
        return json.loads(json_str)
    except:
        return default
df['genres'] = df['genres'].apply(lambda x: [item["name"] for item in cargar_json(x)])
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
df['production_companies'] = df['production_companies'].apply(lambda x: [item["name"] for item in cargar_json(x)])
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: [item["name"] for item in cargar_json(x)])
df['cast'] = df['cast'].apply(lambda x: [item["name"] for item in cargar_json(x)])
df['crew'] = df['crew'].apply(lambda x: [item["name"] for item in cargar_json(x)])
df['production_countries'] = df['production_countries'].apply(lambda x: [item["name"] for item in cargar_json(x)])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  vote_average          4809 non-null   float64
 18  vote_count            4809 non-null   int64
 19  movie_id              4809 non-null   int64
 20  cast                  4809 non-null   object
 21  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(14)
memory usage: 826.7+ KB

In [9]:
df['genres'] = df['genres'].apply(lambda x: [str(genre) for genre in x])
df["genres"].head()

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [10]:
df['cast'] = df['cast'].apply(lambda x: [str(genre) for genre in x])
df['juntas'] = df['genres'] + df['cast']
df['juntas'] = df['juntas'].apply(lambda x: ",".join(x).replace(","," "))
df['juntas'].head()

0    Action Adventure Fantasy Science Fiction Sam W...
1    Adventure Fantasy Action Johnny Depp Orlando B...
2    Action Adventure Crime Daniel Craig Christoph ...
3    Action Crime Drama Thriller Christian Bale Mic...
4    Action Adventure Science Fiction Taylor Kitsch...
Name: juntas, dtype: object

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

vectorizer = TfidfVectorizer()
tfid_matrix = vectorizer.fit_transform(df['juntas'])

print(tfid_matrix)

  (0, 26482)	0.0690045952062409
  (0, 15799)	0.08955053036498059
  (0, 34709)	0.10234944330114712
  (0, 23300)	0.10234944330114712
  (0, 33776)	0.10234944330114712
  (0, 26633)	0.033938844663546006
  (0, 2162)	0.060281987420413435
  (0, 32822)	0.09427422831634903
  (0, 690)	0.06215683787936596
  (0, 30385)	0.08248900424024101
  (0, 28898)	0.08248900424024101
  (0, 26584)	0.09762574534977869
  (0, 27310)	0.08248900424024101
  (0, 11489)	0.0796794487669009
  (0, 26009)	0.10234944330114712
  (0, 25341)	0.08955053036498059
  (0, 30506)	0.05587748950784949
  (0, 25188)	0.10234944330114712
  (0, 19020)	0.06215683787936596
  (0, 24330)	0.10234944330114712
  (0, 15970)	0.07441378925544294
  (0, 23508)	0.08619901333155096
  (0, 31409)	0.051445058542585735
  (0, 14482)	0.06179274347821219
  (0, 21706)	0.07887567680432059
  :	:
  (4807, 34857)	0.3918371616456619
  (4807, 9597)	0.3071376901212841
  (4807, 13719)	0.3810321408137528
  (4807, 526)	0.18492155276468458
  (4807, 24597)	0.27357422982220825
  (4807, 7547)	0.16557020209005632
  (4807, 3296)	0.1636841188961137
  (4807, 27310)	0.34285358645431296
  (4808, 13829)	0.39889749240685085
  (4808, 9134)	0.29667740619686733
  (4808, 8621)	0.216533296487091
  (4808, 9575)	0.31754250878126544
  (4808, 2467)	0.2676599289537579
  (4808, 10411)	0.2744494294294854
  (4808, 18332)	0.3017276151554593
  (4808, 6829)	0.2297320809929095
  (4808, 8956)	0.22918830106974708
  (4808, 12582)	0.21905645007350602
  (4808, 27770)	0.20599422230485784
  (4808, 26866)	0.1902557039382446
  (4808, 4313)	0.15119819591397593
  (4808, 9855)	0.17169290564449322
  (4808, 15018)	0.18306034528865192
  (4808, 3296)	0.15348634018444518
  (4808, 20669)	0.16065594000831476

In [12]:
model = NearestNeighbors(algorithm='brute',metric='cosine')
model.fit(tfid_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [17]:
def similares(title_pelicula):
    indice = df[df['original_title'] == title_pelicula].index[0]
    distances, indices = model.kneighbors(tfid_matrix[indice])
    peliculas_similares = [(df['original_title'][i], distances[0][j]) for j,i in enumerate(indices[0])]
    return peliculas_similares[1:]

titulo_pelicula = 'Avatar'
recomendaciones = similares(titulo_pelicula)
for movie, distance in recomendaciones:
    print("Recomendada: {}".format(movie))

Recomendada: Charlie's Angels
Recomendada: Idiocracy
Recomendada: The Dark Knight
Recomendada: The Royal Tenenbaums